#massAction{
    -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=70)';
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity:0.7;
    opacity:0.7;
    -moz-box-shadow:0 0 5px #888;
    -webkit-box-shadow:0 0 5px#888;
    box-shadow:0 0 5px #888;
    position:absolute;
    padding:9px;
    margin-top:20px;
    margin-left:20px;
    border:1px solid #ccc;
    background:#000;
    color:#fff;
    display:none;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
}
#massAction span{
    cursor:pointer;
    padding:0 5px;
}
#messages_show_more{
    background:#F7F7F7;
    margin-top:10px;padding:5px;
    border:1px solid #E6E6E6;
    text-align:center;
    font-weight:bold;
    font-size:11px;
    cursor:pointer;
}