.membernameAdmin{
    color:#d30000;
    background:url('/themes/default/member_profile/sparkle.gif') top center;
    font-weight:bold;
}
.membernameVIP{
    color:green;
    background:url('/themes/default/member_profile/sparkle.gif') top center;
}
.membergroupVIP{
    font-family:'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size:10px;
    color:#E29F28;
    background:#FFDC27 url('/themes/default/member_profile/category-23px-light.png') repeat-x top;
    padding:2px 5px;
    line-height:9px;
    margin:-24px -5px 5px 5px;
    border:1px solid #E29F28;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    -khtml-border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    -khtml-border-top-right-radius:0px;
    display:block;
    float:right;
    position:relative;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -khtml-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -khtml-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    margin-left:-25px;
}
.membergroupVIP img{
    margin-bottom:-1px;
}
.membergroupDEV{
    z-index:100;
    font-family:'Trebuchet MS', sans-serif;
    font-weight:bold;
    font-size:10px;
    color:#888;
    background:#D5D5D5 url('/themes/default/member_profile/category-23px-light.png') repeat-x top;
    padding:2px 5px;
    line-height:9px;
    margin:-24px -5px 5px 5px;
    border:1px solid #888;
    border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    -khtml-border-radius:3px;
    border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    -khtml-border-top-right-radius:0px;
    -webkit-border-top-right-radius:0px;
    -moz-border-radius-topright:0px;
    -khtml-border-top-right-radius:0px;
    display:block;
    float:right;
    position:relative;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -khtml-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    -khtml-box-shadow:1px 1px 3px rgba(0, 0, 0, 0.25);
    margin-left:-25px;
}