.menu-collapser{
    position:relative;
    background-color:#999;
    color:#FFF;
    text-shadow:0 1px 0 rgba(0,0,0,0.5);
    width:100%;
    height:48px;
    line-height:48px;
    font-size:16px;
    padding:0 8px;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
}
.collapse-button{
    position:absolute;
    right:8px;top:50%;
    width:40px;
    background-color:#0e0e0e;
    background-image:linear-gradient(to bottom,#151515,#040404);
    background-repeat:repeat-x;
    border-color:rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-radius:4px 4px 4px 4px;
    border-style:solid;
    border-width:1px;
    color:#fff;
    box-shadow:0 1px 0 rgba(255,255,255,0.1) inset,0 1px 0 rgba(255,255,255,0.075);
    padding:7px 10px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.25);
    cursor:pointer;
    font-size:14px;
    text-align:center;
    transform:translate(0,-50%);
    -o-transform:translate(0,-50%);
    -ms-transform:translate(0,-50%);
    -moz-transform:translate(0,-50%);
    -webkit-transform:translate(0,-50%);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
}
.collapse-button:hover,.collapse-button:focus{
    background-image:none;
    background-color:#040404;
    color:#FFF
}
.collapse-button .icon-bar{
    background-color:#f5f5f5;
    border-radius:1px 1px 1px 1px;
    box-shadow:0 1px 0 rgba(0,0,0,0.25);
    display:block;
    height:2px;
    width:18px;
    margin:2px 0
}
ul.slimmenu{
    list-style-type:none;
    margin:0;
    padding:0;
    width:100%
}
ul.slimmenu li{
    position:relative;
    display:inline-block;
    background-color:#AAA
}
ul.slimmenu>li{
    margin-right:-5px;
    border-left:1px solid #999
}
ul.slimmenu>li:first-child{
    border-left:0
}
ul.slimmenu>li:last-child{
    margin-right:0
}
ul.slimmenu li a{
    display:block;
    color:#333;
    padding:12px 64px 12px 16px;
    font-family:'Open Sans',sans-serif;
    font-size:16px;
    font-weight:400;
    text-shadow:0 1px 0 rgba(255,255,255,0.2);
    transition:background-color .5s ease-out;
    -o-transition:background-color .5s ease-out;
    -moz-transition:background-color .5s ease-out;
    -webkit-transition:background-color .5s ease-out
}
ul.slimmenu li a:hover{
    background-color:#999;
    text-decoration:none
}
ul.slimmenu li .sub-collapser{
    background:none repeat scroll 0 0 rgba(0,0,0,0.075);
    position:absolute;
    right:0;
    top:0;
    width:48px;
    height:100%;
    text-align:center;
    z-index:999;
    cursor:pointer
}
ul.slimmenu li .sub-collapser:before{
    content:'';
    display:inline-block;
    height:100%;
    vertical-align:middle;
    margin-right:-0.25em
}
ul.slimmenu li .sub-collapser>i{
    color:#333;
    font-size:18px;
    display:inline-block;
    vertical-align:middle
}
ul.slimmenu li ul{
    margin:0;
    list-style-type:none
}
ul.slimmenu li ul li{
    background-color:#BBB
}
ul.slimmenu li>ul{
    display:none;
    position:absolute;
    left:0;
    top:100%;
    z-index:999;
    width:100%
}
ul.slimmenu li>ul>li ul{
    display:none;
    position:absolute;
    left:100%;
    top:0;
    z-index:999;
    width:100%
}
ul.slimmenu.collapsed li{
    display:block;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
}
ul.slimmenu.collapsed li a{
    display:block;
    border-bottom:1px solid rgba(0,0,0,0.075);
    box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box
}
ul.slimmenu.collapsed li .sub-collapser{
    height:40px
}
ul.slimmenu.collapsed li>ul{
    display:none;
    position:static
}
#responsiveMenuHider{
    display:none;
}
#signupformfields{
    margin:10px 0;
}
#signupformfields div{
    margin:10px 0;
}
#signupformfields div .s{
    width:96% !important;
}
img{
    max-width:100% !important;
    border:0
}
@media screen and (max-width:900px){
    #member_info_bar{
        display:none;
    }
    #header .icons{
        display:none;
    }
    #menu{
        display:none;
    }
    #responsiveMenuHider{
        display:block;
    }
    #responsiveMenuHider ul, #responsiveMenuHider li{
        padding:0;
        margin:0;
        list-style:none;
    }
    #container{
        margin-right:0px;
        margin-bottom:20px;
    }
    #content{
        margin-right:0px;
        width:100%;
    }
    #sidebar{
        clear:left;
        width:100%;
    }
}
@media screen and (max-width:800px){
    #overlay{
        min-width:90%;
        width:90%;
    }
    #overlay .overlay_text{
        height:auto;
        width:auto;
    }
    #overlay .overlay_header{
        font-weight:normal;
        font-size:70%;
    }
    .memberCardAvatar{
        display:none;
    }
    ul.tabs{
        height:auto !important;
    }
    ul.tabs a, ul.tabs li{
        float:none !important;
    }
}
@media screen and (max-width:600px){
    #recentPollMainBlock span.floatright{
        float:none;
        display:block;
    }
    .torrent-box .torrentDetails{
        float:none !important;
        width:100% !important;
    }
    .torrent-box .torrentImages, .torrent-box .imdbandgenres, .torrent-box .categoryImage{
        display:none;
    }
    .newIndicator{
        word-wrap:break-word;
    }
    table.mceLayout, textarea.tinyMCE{
        width:100% !important;
    }
    .mceToolbar td{
        display:table-row;
        float:left;
    }
    .mceToolbar td:nth-of-type(11){
        clear:left;
    }
    .marketButtons{
        position:relative !important;
        display:block;
        margin-bottom:20px;
    }
    .s{
        width:auto !important;
    }
    .table{}
    .table .row{
        margin:10px 0;
        display:block;
    }
    #search_in_forums input[type="text"]{
        width:200px !important;
    }
    .forumTable{
        overflow:hidden;
    }
    .forumTable .last_post_info{
        border:0 !important;
        float:none !important;
        padding:0 !important;
        display:inline-block;
        text-align:left;
    }
    .forumTable #icons, .forumTable .small{
        float:none;
        display:inline-block;
    }
    .postMemberInfo{
        float:none;
        width:100%;
        margin-bottom:12px;
    }
    .postInfo{
        margin:0;
    }
    .postMemberBlock .arrow{
        display:none;
    }
    .postMemberBlock div.avatarHolder{
        background:none !important;
        padding:0 !important;
        border-radius:0;
        -webkit-border-radius:0;
        -moz-border-radius:0;
        -khtml-border-radius:0;
        text-align:center;
        vertical-align:middle;
        float:right;
        margin:13px 0 0 0 !important;
    }
    .postMemberBlock div.avatarHolder img{
        width:40%;
    }
    .showpostdate{
        display:block;
    }
    .postMemberBlock h3.posterInfo{
        padding-left:35px;
        padding-bottom:5px;
        padding-top:13px;
    }
    #facebookRecommend,#googlePlus,#twitterShare{
        display:block;
        float:none;
        margin-bottom:8px;
    }
    #footer{
        background:#404143;
    }
    #footer .debug{
        float:none;
        margin-bottom:15px;
    }
    #sidebar h4, #content h4,.tableHeader,.simpleHeader,.recentThreads,.submit{
        background:#000 !important;
    }
    .table .first{
        text-align:left;
        vertical-align:top;
        font-weight:bold;
        font-size:12px;
        width:auto;
        display:block;
        height:auto;
    }
    .table .second{
        text-align:left;
        width:auto;
        display:block;
        height:auto;
    }
    #cat_content{
        width:99%;
        height:auto;
    }
    .commentHolder{
        float:none;
        vertical-align:top;
        width:auto;
    }
    .cAvatar{
        float:none;
        display:none;
    }
}
@media (min-width:600px){}
@media screen and (max-width:370px){
    .logo img{
        max-width:80%;
    }
    .submit{
        -moz-border-radius:0 !important;
        -khtml-border-radius:0 !important;
        -webkit-border-radius:0 !important;
        border:0!important;
    }
    #recaptcha_widget{
        margin:0 !important;
    }
    #recaptcha_response_field{
        width:99% !important;
        height:auto !important;
    }
    .captcha_field1, .captcha_field2{
        float:none !important;
        margin:0 !important;
    }
    #recaptcha_image{
        width:99% !important;
        overflow:hidden !important;
        border:0 !important;
        margin:0 !important;
        text-align:left !important;
    }
    #recaptcha_image img{
        max-width:99% !important;
    }
    .s{
        max-width:99% !important;
    }
}
@media only screen and (min-width:600px){
    table.mceLayout, textarea.richEditor{
        width:600px !important;
    }
    .mceToolbar td{
        display:table-cell;
        float:none;
    }
    mceToolbar td:nth-of-type(11){
        clear:none;
    }
}